{% extends 'base.html' %}

{% block content %}
<h1>about</h1>
<p>ipsum dolor sit amet consectetur adipisicing elit. Vitae iure aspernatur incidunt, placeat nesciunt asperiores obcaecati harum reiciendis velit earum impedit, eum nihil laboriosam unde nemo nisi delectus dicta culpa! Vitae molestiae eligendi quos id obcaecati. Deserunt distinctio libero aperiam dolorem excepturi perspiciatis eligendi in labore aut minima tenetur temporibus ducimus, quos eaque voluptates ratione optio perferendis, repudiandae dolores, sit exercitationem asperiores eos quaerat. Eaque cum iure ipsa laudantium id eum suscipit libero voluptatum commodi vero, itaque aliquam, excepturi eos tempore pariatur voluptate nesciunt, voluptatibus corrupti rem illo eligendi officia nulla consequuntur. Doloribus reiciendis nihil in porro distinctio dolorum saepe!</p> 
{% endblock %}